#trafficLight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}
a{
  font-weight: 600;
  font-size: 15pt;
  color: #000;
}
p{
  font-size:14pt;
}
li{
  list-style-type: none;
}